<table id="example2" class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>No.</th>
      <th>Nama</th>
      <th>Email</th>
      <th>Telepon</th>
      <th>Role</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
      <% for(let i=0; i < users.length; i++){ %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= users[i].name %></td>
          <td><%= users[i].email %></td>
          <td><%= users[i].phoneNumber %></td>
          <td><%= users[i].role %></td>
          <td>
              <% if(users[i].status === 'Y') { %>
                  <span class="badge badge-success">
                      Aktif
                  </span>
              <% } else { %>
                  <span class="badge badge-danger">
                      Non Aktif
                  </span>
              <% } %>
          </td>
          <td>
            <form action="/users/status/<%= users[i]._id %>?_method=PUT" method="POST" style="display: inline-block;">
                <button class="btn btn-primary btn-sm">
                    <i class="fas fa-toggle-on"></i>
                    <% if(users[i].status === 'Y') { %>
                            N
                    <% } else { %>
                            Y
                    <% } %>
                </button>
            </form>
            <form action="/users/delete/<%= users[i]._id %>?_method=DELETE" method="post" style="display: inline-block;">
                <a href="/users/edit/<%= users[i]._id %>" class="btn btn-info btn-sm" > <i class="fas fa-pencil-alt"></i></a>
                <button class="btn btn-danger btn-sm"> <i class="fas fa-trash"></i></button>
            </form>
          </td>
        </tr>
      <% } %> 
    </tbody>
  </table>